
git+https://github.com/pyinstaller/pyinstaller.git@483dfdebad65679ded59476514c9a5528c4ba3b6

pyramid==1.8.1

waitress==1.0.1

git+https://github.com/morpheby/venusian.git@compiled_support

pyramid_chameleon==0.3

python-dateutil==2.6.0

# OS X

pywebview[cocoa]==1.4; sys_platform == 'darwin'

# Linux

pywebview[qt5]==1.4; sys_platform == 'linux'

# Windows 

pywebview[winforms]==1.4; sys_platform == 'win32'
pywebview[win32]==1.4; sys_platform == 'win32'
