
PyInstaller==3.2.1

pyramid==1.8.1

waitress==1.0.1

git+https://github.com/morpheby/venusian.git@compiled_support

# OS X

pywebview[cocoa]==1.4; sys_platform == 'darwin'

# Linux

pywebview[qt5]==1.4; sys_platform == 'linux'

# Windows 

pywebview[winforms]==1.4; sys_platform == 'win32'
pywebview[win32]==1.4; sys_platform == 'win32'
