
body {
  font-family: "Lato", Verdana, Geneva, sans-serif;
  color: #3c3c3d;
  font-size: 1.5rem;
  line-height: 1.44; }

h1, h2, h3 {
  font-family: "Open Sans", Futura, "Trebuchet MS", Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold; }

pre, code, samp, kbd {
  font-family: "PT Mono", monospace;
  background-color: #efeff0;
  border: 1px solid #dededf;
  border-radius: 2px;
  font-size: 1.3rem; }
  
table {
  margin: 0 auto; }
  table caption {
    margin-bottom: 5px; }
  table thead {
    background-color: #216a9e;
    color: #fff; }
  table tbody {
    background-color: #efeff0; }
    table tbody tr:nth-child(2n) {
      background-color: #dededf; }
  table th, table td {
    padding: 5px 8px; }
    @media screen and (min-width: 768px) {
      table th, table td {
        padding: 8px 13px; } }
  table tfoot {
    background-color: #cdcdce; }
    table tfoot td {
      text-align: center; }
